@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (TempData["message"] != null)
    {
        <div class="col-sm-12 text-center">
            <div class="alert alert-success">
                @TempData["message"]
            </div>
        </div>
    }

    @if (Model.Stripovi.Any())
    {
        @foreach (var item in Model.Stripovi)
        {
            <form method="post">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Naziv</h5>
                        <ul>
                            <li>Autor:@item.Autor</li>
                            <li>Izdavac: @item.Izdavac</li>
                            <li>Jezik: @item.Jezik</li>
                            <li>Stanje: @item.Stanje</li>
                            <li>Godina izdanja: @item.GodinaIzdanja</li>
                            <li><b>Cena: @item.Cena</b></li>
                        </ul>
                        <input hidden asp-for="IdStripaZaKorpu" value="@item.IdStripa" />
                        <button type="submit" class="btn btn-primary">Stavi u korpu</button>
                    </div>
                </div>
            </form>
        }
    }
    else
    {
        <a>Trenutno nema Stripova u prodaji! </a>
    }
</div>

