@page
@model Stripovi.Web.Pages.Administrator.Stripovi.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var photoPath = "~/images/" + (Model.Strip.imgRoute ?? "noimage.jpg");
}

<h1 style="color:#E84545">Detalji</h1>

<div>
    <h4>Strip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Strip.Naziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Strip.Naziv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Strip.Izdavac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Strip.Izdavac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Strip.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Strip.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Strip.Stanje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Strip.Stanje)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Strip.Jezik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Strip.Jezik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Strip.GodinaIzdanja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Strip.GodinaIzdanja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Strip.Cena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Strip.Cena)
        </dd>
        <dt class="col-sm-2">
            IMG: 
        </dt>
        <dd class="col-sm-10">
            <img class="imageThumbnail" src="@photoPath"
                 asp-append-version="true" />
        </dd>
    </dl>
</div>
<div>
    <a class="text-primary" asp-page="./Edit" asp-route-id="@Model.Strip.IdStripa">Promeni</a> |
    <a asp-page="./Index">Nazad na listu</a>
</div>
